<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>프로젝트 타임라인 관리</title>
    <link rel="stylesheet" href="/css/adminProjectTimelines.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
{{> include/header}}
<main>
    <a href="/administrator/projects" class="move-projects"><< 프로젝트 관리로</a>
    <div class="page">
        <h1>제안 타임라인 수정</h1>
        <h2 data-item="{{project.id}}">{{project.title}}</h2>
        <table class="timelines">
            <thead>
                <hr>
                    <th class="date">날짜</th>
                    <th class="contents">내용</th>
                    <th class="subject">분류</th>
                    <th class="act">관리</th>
            </thead>
            <tbody>
                {{#each timelines}}
                <tr id="{{this.id}}">
                    <td>{{this.created_at}}</td>
                    <td>{{this.body}}</td>
                    <td>{{this.subject}}</td>
                    <td>
                        <button class="update-timeline-btn">수정</button>
                        <button class="remove-timeline-btn">삭제</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="add-timeline-zone">
        <h3>새 타임라인 내용 추가</h3>
        <input type="date" id="input-date">
        <textarea id="input-timeline-contents" placeholder="내용을 입력해주세요."></textarea>
        <select id="subject">
            <option>소식</option>
            <option>의원 한 마디</option>
        </select>
        <button class="add-timeline-btn">입력</button>
    </div>
</main>
<!--<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>-->
<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/dist/adminProjectTimelines-bundle.js"></script>
{{> include/footer}}
</body>
</html>