<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>프로젝트 관리</title>
    <link rel="stylesheet" href="/css/adminProjects.css">
</head>
<body>
{{> include/header}}
<h1>프로젝트 관리</h1>
<h6 class="projects-count"></h6>
<table class="project-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">#ID</th>
            <th class="mdl-data-table__cell--non-numeric">제목</th>
            <th class="mdl-data-table__cell--non-numeric">
                상태
                <select class="filter-status">
                    <option>전체</option>
                    <option>시민참여</option>
                    <option>매칭중</option>
                    <option>입법활동</option>
                    <option>매칭실패</option>
                </select>
            </th>
            <th class="mdl-data-table__cell--non-numeric">날짜</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">관리</th>
        </tr>
    </thead>
    <tbody>
    {{#each projects}}
        <tr class="project">
            <td class="mdl-data-table__cell--non-numeric id">{{this.id}}</td>
            <td class="mdl-data-table__cell--non-numeric title">
                <a href="/projects/{{this.id}}">{{this.title}}</a>
                    <!--<div class="comment">123</div>-->
            </td>
            <td class="mdl-data-table__cell--non-numeric status">{{this.status}}</td>
            <td class="mdl-data-table__cell--non-numeric date">{{this.created_at}}</td>
            <td class="mdl-data-table__cell--non-numeric date">{{this.proposer_email}}</td>
            <td class="mdl-data-table__cell--non-numeric actives">
                <a href="/administrator/projects/{{this.id}}"><button class="update">수정</button></a>
                <button data-item={{this.id}} class="remove">삭제</button>
            </td>
        </tr>
    {{/each}}
    </tbody>

</table>
{{> include/footer}}
<script type="text/javascript" src="/dist/adminProjects-bundle.js"></script>
</body>
</html>
