<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Hello World!</title>
</head>

<body>
    id: {{this.authenticatedUser.id}}<br/>
    uid: {{this.authenticatedUser.uid}}<br/>
    email: {{this.authenticatedUser.email}}<br/>
    NickName: {{this.authenticatedUser.nickname}}<br/>
    Image: {{this.authenticatedUser.image}}<br/>
    Role: {{this.authenticatedUser.role}}<br/>
    <input type="button" value="Logout" onClick="location.href='/logout'">
</body>
</html>