<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/my.css">
</head>
<body>
{{> include/header}}
<main>
    <h1>마이페이지</h1>
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand" style="background-image: url({{this.authenticatedUser.image}})">
            <h2 class="mdl-card__title-text">Click to change</h2>
            <input type="file" class="profile-img">
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield">
                <label for="now-email">현재 이메일</label>
                <p id="now-email">{{user.email}}</p>
                <label for="now-nickname">현재 닉네임</label>
                <p id="now-nickname">{{user.nickname}}</p>
                <button class="change-nav" id="change-nickname-btn">닉네임 변경</button>
                <button class="change-nav" id="change-password-btn">비밀번호 변경</button>

                <div class="change-nickname-zone" data-item="nickname">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="nickname">
                            <label class="mdl-textfield__label" for="nickname">닉네임</label>
                        </div>
                    </form>
                </div>
                <div class="change-password-zone" data-item="password">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="password">
                            <label class="mdl-textfield__label" for="password">기존 비밀번호</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="new-password">
                            <label class="mdl-textfield__label" for="new-password">새로운 비밀번호</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="new-password-confirm">
                            <label class="mdl-textfield__label" for="new-password-confirm">새로운 비밀번호 확인</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="update-user-btn">
                변경 내용 저장
            </a>
        </div>
    </div>

    <div class="project-list-zone">
        <nav class="project-list-btns">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="participations-btn" data-item="participations">
                내가 참여한 제안들
            </button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="proposals-btn" data-item="proposals">
                내가 작성한 제안들
            </button>
        </nav>

        <ul class="project-list participations">
            {{#each participations}}
                <a href="/projects/{{this.id}}">
                    <li class="project">
                        <div class="project-img" style="background-image: url({{this.image}})">
                            <div class="status" data-item="{{this.status}}">시민참여</div>
                        </div>
                        <div class="project-summary">
                            <h5>{{this.title}}</h5>
                            <div class="percentage-zone"><div class="percentage"></div></div>
                            <p class="count" data-item="{{this.participations_count}}">{{this.participations_count}}명</p>
                            <p class="percentage-number" data-item="{{this.participations_goal_count}}"></p>
                        </div>
                    </li>
                </a>
            {{/each}}
        </ul>

        <ul class="project-list proposals">
            {{#each proposals}}
                <a href="/projects/{{this.id}}">
                    <li class="project">
                        <div class="project-img" style="background-image: url({{this.image}})">
                            <div class="status" data-item="{{this.status}}">시민참여</div>
                        </div>
                        <div class="project-summary">
                            <h5>{{this.title}}</h5>
                            <div class="percentage-zone"><div class="percentage"></div></div>
                            <p class="count" data-item="{{this.participations_count}}">{{this.participations_count}}명</p>
                            <p class="percentage-number" data-item="{{this.participations_goal_count}}"></p>
                        </div>
                    </li>
                </a>
            {{/each}}
        </ul>

    </div>
</main>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{{> include/footer}}
<script type="text/javascript" src="/dist/my-bundle.js"></script>
</body>
</html>
