<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>
{{> include/header}}
<div class="dim"></div>
<div class="info-modal">
    <h5 class="info-label">진행단계</h5>
    <img class="info-img" src="/img/info.png">
</div>
<main class="main">
    <img class="main-img" src="{{project.image}}">
    <div class="desc">
        <ul class="category-list">
            {{#project.subject}}
                <li class="category">{{project.subject}}</li>
            {{/project.subject}}
        </ul>
        <h2 data-item="{{project.id}}">{{project.title}}</h2>
        <ul class="status-zone" data-item="{{project.status}}">
            <li class="status participation">시민참여</li>
            <li class="status matching">
                의원매칭
                <div class="matching guide">
                    <h4>의원매칭단계란?</h4>
                    '의원 매칭' 단계에서는 시민참여 1,000건이 넘은 제안을 국회의원과 연결합니다.
                    <img class="guide-image" src="/img/matching.png">
                </div>
            </li>
            <li class="status running">
                입법활동
                <div class="running guide">
                    <h4>입법활동단계란?</h4>
                    '입법 활동' 단계에서는 시민과 국회의원을 매칭한 '입법 드림팀'의 입법활동을 투명하게 공개합니다.
                    <img class="guide-image" src="/img/running.png">
                </div>
            </li>
        </ul>
        <div class="writer-info">
            <div class="profile"></div>
            <h5 class="writer">{{project.proposer}}</h5>
        </div>
        <div class="percentage-zone">
            <div class="percentage"></div>
        </div>
        <p class="count">{{project.participations_count}}</p>
        <p class="percentage-number" data-item="{{project.participations_goal_count}}">78%</p>
        {{#participations}}
            <button class="join-btn is-active">참여취소</button>
        {{/participations}}
        {{^participations}}
            <button class="join-btn">참여하기</button>
        {{/participations}}
        <ul class="share-list">
            <li class="share facebook"></li>
            <li class="share twitter"></li>
            <li class="share kakao"></li>
        </ul>
        {{#project.status}}
            <div class="assembly" data-item="{{project.committees}}">
                <label class="assembly-man-list-label" for="assembly-man-list">참여의원</label>
                <ul id="assembly-man-list">
                </ul>
                <label for="committee">소관 상임위</label>
                <ul id="committee">
                </ul>
            </div>
        {{/project.status}}
    </div>

    <nav class="info-subject">
        <button class="info-contents active" data-item="contents">제안내용</button>
        <button class="info-timeline" data-item="timeline">타임라인</button>
        <button class="info-discussion" data-item="discussion">토론</button>
    </nav>
    <div class="info">
        <div class="info-contents contents is-visible">
            <h4>제안 요약</h4>
            {{{project.summary}}}
            <h4>제안 내용</h4>
            {{{project.body}}}
        </div>
        <div class="info-contents timeline">
            <ul class="timeline-list">
                {{#each timelines}}
                    <li class="each-timeline">
                        <div class="outer-border">
                            <p class="date">{{this.created_at}}</p><br>
                            <p class="contents">
                                {{this.body}}
                            </p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="info-contents discussion">
            <!--<ul class="discussion-list best">-->
            <!--<li class="each-discussion">-->
            <!--<table>-->
            <!--<tr>-->
            <!--<div class="best-tag">BEST</div><br>-->
            <!--<td class="left">-->
            <!--<div class="writer-info-zone">-->
            <!--<div class="profile"></div>-->
            <!--<p class="nickname">Marriott82</p>-->
            <!--<p class="written-date">2017.04.06</p>-->
            <!--</div><br>-->
            <!--<div class="discussion-info">-->
            <!--<button class="reply">답글 6</button>-->
            <!--<button class="likes">234</button>-->
            <!--</div>-->
            <!--</td>-->
            <!--<td class="right">-->
            <!--<p class="discussion-contents">-->
            <!--진선미 의원님이 지난 7월 발의한 '공중화장실 등에 관한 법률 일부개정법률안'과-->
            <!--'성폭력범죄의 처벌 등에 관한 특례법 일부개정법률안'이 각각 행정안전위원회 법안심사소위원회(11월 24일)와-->
            <!--여성가족위원회 법안심사소위원회(11월 23일)로 회부되었습니다. 앞으로 법안심사소위원회에서는 해당 법안에 대한-->
            <!--</p>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</table>-->
            <!--</li>-->
            <!--</ul>-->

            <ul class="discussion-list new">
                {{#authenticatedUser}}
                    <div id="likes-zone">
                        {{#each likes}}
                            <p>{{this.likable_id}}</p>
                        {{/each}}
                    </div>
                {{/authenticatedUser}}
            </ul>
            <div id="write-comment-zone">
                <textarea class="input-comment" rows="5" placeholder="댓글을 입력해주세요"></textarea>
                <button class="submit-comment-btn">입력</button>
            </div>
        </div><!--discussion-->
    </div>
</main>
{{> include/footer}}
<script type="text/javascript" src="/dist/project-bundle.js"></script>
</body>
</html>
