<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>프로젝트 검색</title>
    <link rel="stylesheet" href="/css/userForm.css">
    <link rel="stylesheet" href="/css/projectSearch.css">
</head>
<body>
{{> include/header}}
<main>
    <h2>Search</h2>
    <form action="#" class="main-search-zone">
        <input class="input-search" placeholder="검색어를 입력해주세요">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="input-search">
            <i class="material-icons">search</i>
        </label>
    </form>

    <ul class="project-list">
        {{#each projects}}
            <a href="/projects/{{this.id}}">
                <li class="project">
                    <div class="project-img" style="background-image: url({{this.image}})">
                        <div class="status {{this.status}}">시민참여</div>
                    </div>
                    <div class="project-summary">
                        <h5>{{this.title}}</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count" data-item="{{this.participations_count}}">{{this.participations_count}}명</p>
                        <p class="percentage-number" data-item="{{this.participations_goal_count}}">-</p>
                    </div>
                </li>
            </a>
        {{/each}}

    </ul>
</main>
{{> include/footer}}
<script type="text/javascript" src="/dist/projectSearch-bundle.js"></script>
</body>
</html>